.error {
  color: #c52f21;
}

.mappingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.headingLabel {
  margin-left: 0.5rem;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.input {
  max-width: 100%;
  width: 100%;
  padding: 1rem 1rem 0rem 1rem;
}

.emptyValue {
  text-align: center;
  padding: 0.8rem;
}
