.chip {
  display: flex;
  align-items: center;
  background-color: #df2060;
  width: max-content;
  height: max-content;
  border-radius: 2.5rem;
  padding: 0.5rem;
  margin: 0.3rem 0.4rem;
}

.text {
  font-size: 0.9rem;
  color: #fff;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
  cursor: default;
}
