.chip {
  display: flex;
  align-items: center;
  background-color: #c15c79;
  width: max-content;
  height: max-content;
  border-radius: 2.5rem;
  padding: 0.5rem;
  margin: 0.3rem 0.4rem;
}

.chip:hover {
  background-color: #b75772;
}

.chip:active {
  background-color: #ac526b;
}

.text {
  font-size: 0.8rem;
  color: #fff;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
  cursor: default;
}

.deleteIcon {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
