.mappingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.headingLabel {
  margin-left: 0.5rem;
}

.removeButton {
  font-size: 1.5rem;
  color: orangered;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.emptyValue {
  text-align: center;
  padding: 0.8rem;
}

.cell {
  text-align: center;
}

table {
  width: 85%;
}

.tableWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
