.flex-base {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header h2 {
  margin: 0 20px;
  font-size: 4rem;
  font-weight: bold;
}

.input-fields {
  width: 70%;
  padding-left: 0rem;
}

#file-in {
  width: 70%;
  margin-right: 1rem;
}

#file-type > select {
  width: 30%;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
}

.settings-container {
  margin-top: 0.7rem;
  padding-left: 0.5rem;
}

.settings-container > button {
  font-size: 0.8rem;
  padding: 0.7rem;
  margin-right: 0.7rem;
}

.convert-btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* Additional Settings Styles */
#additional-inputs {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: 40%;
}

.inputs {
  width: 30%;
}

.loading-status {
  font-weight: 500;
  color: #6a6a6a;
}

/* @media (min-width: 1200px) {
  .input-fields {
    width: 40%;
  }
} */
