.flex-base {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 1.8rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

header h2 {
  margin: 0 20px;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

body {
  background: linear-gradient(to bottom, #525252, #2c4b70);
  height: 100vh;
  margin: 0;
}

button {
  background-color: #407fc7;
  border: none;
}

button:hover {
  background-color: #3A7AB3;
}

button:active {
  background-color: #2C5D8A;
}

.input-fields {
  width: 90%;
  padding-left: 0rem;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.modal-overlay label {
  color: black;
}

.settings-container {
  margin-top: 1rem;
  padding-left: 0.7rem;
}

.settings-container > button {
  font-size: 0.8rem;
  padding: 0.7rem;
  margin-right: 1.2rem;
}

.inputs {
  width: 30%;
}

.loading-status {
  font-weight: 500;
  color: #6a6a6a;
}

/* Styles for NLPConfig Component */
.nlp-input {
  padding: 0rem 0.7rem 0rem 0.7rem;
}

#combined {
  margin-left: 0.3rem;
}

/* End NLPConfig */

/* Styles for Mappings Component */
.mappings-container {
  display: flex;
  flex-direction: row;
}

.input-container {
  width: 50%;
  padding: 0.5rem;
}

.left {
  margin-right: 1rem;
}
/* End Mappings */
